{% extends 'fleet/fleet_base.html' %}

{% block fleet_content %}

<div class="p-5">
        <table id="table_id" class="display table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Fleet ID</th>
                    <th>Total vehicles</th>
                    <th>Rent</th>
                    <th>Payment State</th>
                    <th>Approved On</th>
                    <th>Expires On</th>
                    <th ></th>
                </tr>
            </thead>
            <tbody>
{% if fleets %}
{% for fleet in fleets%}
                    <tr>
                        <td><i class="fa fa-user"></i> {{fleet.user.user.username}}</td>
                        <td>{{fleet.fleet_ref}}</td>
                        <td>{{fleet.vehicles.count}}</td>
                        <td>&#2547; {{ fleet.get_total}}</td>
                        <td>{% if fleet.is_purchased %} <span class="btn badge badge-success badge-pill">  Paid </span>{% else %} <span class="btn badge badge-danger badge-pill"> Not-Paid </span>{% endif %}</td>
                        <td> {% if fleet.is_approved %} {{ fleet.approved_on|date:"d M Y" }} {% else %} Not Approved  {% endif %}</td>
                        <td> {% if fleet.is_approved %} {{ fleet.expiration_date|date:"d M Y" }} {% else %} Not Approved {% endif %} </td>
                        <td>
                            <div class="btn-group">
                                {% if not fleet.is_purchased or not fleet.is_approved %}
                                    {% if fleet.is_purchased %}
                                        <a class="btn btn-success" href="{% url 'fleet:approve_fleet' fleet.pk %}">Approve</a>
                                    {% endif %}
                                    <a class="btn btn-danger" href="{% url 'fleet:remove_fleet' fleet.pk %}">Remove</a>
                                {% elif not fleet.is_freezed %}
                                    <a class="btn btn-warning" href="{% url 'fleet:freeze_fleet' fleet.pk %}">Freeze</a>
                                {% else %}
                                    <a class="btn btn-success" href="{% url 'fleet:freeze_fleet' fleet.pk %}">Free</a>
                                {% endif %}
                                <a class="btn btn-primary" href="{% url 'fleet:detail_fleet' fleet.pk %}">Details</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    
</div>
{% endblock %}
