<html><head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <style media="screen">
        body, html {
          height: 100%;
          background-color: #f7f8f9;
          color: #6b7c93;
        }
        
        *, label {
          font-family: "Helvetica Neue", Helvetica, sans-serif;
          font-size: 16px;
          font-variant: normal;
          padding: 0;
          margin: 0;
          -webkit-font-smoothing: antialiased;
        }
        
        button {
          border: none;
          border-radius: 4px;
          outline: none;
          text-decoration: none;
          color: #fff;
          background: #32325d;
          white-space: nowrap;
          display: inline-block;
          height: 40px;
          line-height: 40px;
          padding: 0 14px;
          box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
          border-radius: 4px;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.025em;
          text-decoration: none;
          -webkit-transition: all 150ms ease;
          transition: all 150ms ease;
          float: left;
          margin-left: 12px;
          margin-top: 28px;
        }
        
        button:hover {
          transform: translateY(-1px);
          box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
          background-color: #43458b;
        }
        
        form {
          padding: 30px;
          height: 120px;
        }
        
        label {
          font-weight: 500;
          font-size: 14px;
          display: block;
          margin-bottom: 8px;
        }
        
        #card-errors {
          height: 20px;
          padding: 4px 0;
          color: #fa755a;
        }
        
        .form-row {
          width: 70%;
          float: left;
        }
        
        .token {
          color: #32325d;
          font-family: 'Source Code Pro', monospace;
          font-weight: 500;
        }
        
        .wrapper {
          padding-top: 250px; /* Custom Property */
          width: 670px;
          margin: 0 auto;
          height: 100%; 
        }
        
        #stripe-token-handler {
          position: absolute;
          top: 0;
          left: 25%;
          right: 25%;
          padding: 20px 30px;
          border-radius: 0 0 4px 4px;
          box-sizing: border-box;
          box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
            0 15px 35px rgba(50, 50, 93, 0.15),
            0 5px 15px rgba(0, 0, 0, 0.1);
          -webkit-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
          transform: translateY(0);
          opacity: 1;
          background-color: white;
        }
        
        #stripe-token-handler.is-hidden {
          opacity: 0;
          transform: translateY(-80px);
        }
        
        /**
         * The CSS shown here will not be introduced in the Quickstart guide, but shows
         * how you can use CSS to style your Element's container.
         */
        .StripeElement {
          box-sizing: border-box;
        
          height: 40px;
        
          padding: 10px 12px;
        
          border: 1px solid transparent;
          border-radius: 4px;
          background-color: white;
        
          box-shadow: 0 1px 3px 0 #e6ebf1;
          -webkit-transition: box-shadow 150ms ease;
          transition: box-shadow 150ms ease;
        }
        
        .StripeElement--focus {
          box-shadow: 0 1px 3px 0 #cfd7df;
        }
        
        .StripeElement--invalid {
          border-color: #fa755a;
        }
        
        .StripeElement--webkit-autofill {
          background-color: #fefde5 !important;
        }

        .info{
          margin-left: 30px;
        }
        .notice{
          margin-top: 50px;
          color: red;
          font-size: 1.2em;
        }
        </style>
        </head>
        



        <body>
          <div class="wrapper">
          <script src="https://js.stripe.com/v3/"></script>
        

          <h3 class="info">Fleet Total:  {{fleet.get_total}}</h3>
          <h3 class="info">Fleet Id:    {{fleet.fleet_ref}}</h3>

          <form action="." method="post" id="payment-form">
            {% csrf_token %}
            <div class="form-row">
              <label for="card-element">
                Credit or debit card
              </label>
              <div id="card-element" class="StripeElement StripeElement--empty"><div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;"><iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame5" allowpaymentrequest="true" src="https://js.stripe.com/v3/elements-inner-card-45e2121d8047e8cc46d17cce31053023.html#style[base][color]=%2332325d&amp;style[base][fontFamily]=%22Helvetica+Neue%22%2C+Helvetica%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[invalid][color]=%23fa755a&amp;style[invalid][iconColor]=%23fa755a&amp;componentName=card&amp;wait=false&amp;rtl=false&amp;keyMode=test&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fpayments%2Fcards%2Fcollecting%2Fweb&amp;controllerId=__privateStripeController1" title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; height: 19.2px;"></iframe><input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"></div></div>
        
              <!-- Used to display form errors. -->
              <div id="card-errors" role="alert"></div>
            </div>
        
            <button>Submit Payment</button>
          </form>
          <div class="info notice">After successfull payment, Please Collect Your Invoice from the Fleet Detail.</div>
        </div>
        
        
        <script nonce="">  // Create a Stripe client.
          var stripe = Stripe('pk_test_K05P8fUTdXXbEEqMiLAmbjie00UpDcH7J0');
        
          // Create an instance of Elements.
          var elements = stripe.elements();
        
          // Custom styling can be passed to options when creating an Element.
          // (Note that this demo uses a wider set of styles than the guide below.)
          var style = {
            base: {
              color: '#32325d',
              fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
              fontSmoothing: 'antialiased',
              fontSize: '16px',
              '::placeholder': {
                color: '#aab7c4'
              }
            },
            invalid: {
              color: '#fa755a',
              iconColor: '#fa755a'
            }
          };
        
          // Create an instance of the card Element.
          var card = elements.create('card', {style: style});
        
          // Add an instance of the card Element into the `card-element` <div>.
          card.mount('#card-element');
        
          // Handle real-time validation errors from the card Element.
          card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
              displayError.textContent = event.error.message;
            } else {
              displayError.textContent = '';
            }
          });
        
          // Handle form submission.
          var form = document.getElementById('payment-form');
          form.addEventListener('submit', function(event) {
            event.preventDefault();
        
            stripe.createToken(card).then(function(result) {
              if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
              } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
              }
            });
          });
        
          var successElement = document.getElementById('stripe-token-handler');
          document.querySelector('.wrapper').addEventListener('click', function() {
            successElement.className = 'is-hidden';
          });

          // Submit the form with the token ID.
          function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
        
            // Submit the form
            form.submit();
          }
        

        
          // Not in demo.
          //function stripeTokenHandler(token) {
          //  successElement.className = '';
          //  successElement.querySelector('.token').textContent = token.id;
          //}
        </script>
        <!-- <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeController1" allowpaymentrequest="true" src="https://js.stripe.com/v3/controller-d76f01e0b98bf74cf7e01f19b34f8330.html#apiKey=pk_test_K05P8fUTdXXbEEqMiLAmbjie00UpDcH7J0&amp;stripeJsId=24c0ad92-ed9d-4900-809e-8fe8ee7ad4d6&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fpayments%2Fcards%2Fcollecting%2Fweb&amp;controllerId=__privateStripeController1" aria-hidden="true" tabindex="-1" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important; user-select: none !important;"></iframe> -->
        
          <!-- <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeMetricsController0" allowpaymentrequest="true" src="https://js.stripe.com/v2/m/outer.html#url=https%3A%2F%2Fstripe.com%2Fdocs%2Fpayments%2Fcards%2Fcollecting%2Fweb&amp;title=&amp;referrer=&amp;muid=b56eba9c-6cde-4d44-bc05-d393c7ef77a9&amp;sid=41bdebe1-9861-44e4-93ca-e4e9f95747ad&amp;preview=true" aria-hidden="true" tabindex="-1" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important; user-select: none !important;"></iframe></body></html> -->